{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}

{% load blog_tags keyword_tags i18n %}
{% blog_recent_posts 7 as recent_posts %}
{% if recent_posts %}
<div class="col-md-12 middle">
    <container>
        <div class="row">
            {% for recent_post in recent_posts %}
            {% if recent_posts.0 == recent_post %}
            <div class="col-md-12 middle blogpost">
                <div class="card">
                    <canvas class="header-bg" width="250" height="70"></canvas>
                    <div class="avatar">
                        <img class="src-image" src="{{ MEDIA_URL }}{{ recent_post.featured_image }}">
                        <a href="{{ recent_post.get_absolute_url }}">
                            <img src="{{ MEDIA_URL }}{{ recent_post.featured_image }}" alt=""/>
                        </a>
                    </div>
                    <div class="content">
                        <p><a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a></p>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-md-4 middle blogpost">
                <div class="card">
                    <canvas class="header-bg" width="250" height="70"></canvas>
                    <div class="avatar">
                        <img class="src-image" src="{{ MEDIA_URL }}{{ recent_post.featured_image }}">
                        <a href="{{ recent_post.get_absolute_url }}">
                            <img src="{{ MEDIA_URL }}{{ recent_post.featured_image }}" alt=""/>
                        </a>
                    </div>
                    <div class="content">
                        <p><a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a></p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </container>
</div>
{% endif %}

{% endblock %}